/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

$width-modal-nav: 320px;

.modal.fade .modal-dialog{
-webkit-transform: translate(0, -25%);
-ms-transform: translate(0, -25%);
-o-transform: translate(0, -25%);
transform: translate(0, -25%);
-webkit-transition: -webkit-transform 0.3s ease-out;
-moz-transition: -moz-transform 0.3s ease-out;
-o-transition: -o-transform 0.3s ease-out;
transition: transform 0.3s ease-out;
}

.modal.modal-side .modal-dialog {
  right: -$width-modal-nav;
  position: fixed;
  margin: auto;
  width: $width-modal-nav;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);


}
.modal.modal-side .modal-dialog .modal-header {
  border-radius: 0;
}
.modal-nav .modal-body {
  background: #000;
  padding: 0;
}
.modal-nav.modal-side .modal-content {
  background: #000;
}
.modal-side .modal-dialog {
  border-left: solid 1px #444;
}
.modal-side .modal-body .nav-main-items li {
  border-bottom: solid 1px #444;
}
.modal-side .modal-content {
  border: 0;
  border-radius: 0;
  background: #fff;
}
.modal.modal-side .modal-content {
  height: 100%;
  overflow-y: auto;
}
/*Right*/
.modal.modal-side.fade .modal-dialog {
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.modal-side.fade.show .modal-dialog {
  right: 0;
}
@include media-breakpoint-up(xl){
  .modal.modal-side .modal-dialog {
    width: 400px;
  }
  .modal.modal-side.fade .modal-dialog {
    right: -400px;
  }
}
