$nav-bg: #fff;
$gutter: $grid-gutter-width/2;

@include media-breakpoint-up(xs) {  }
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }

.nav-main-wrapper{
  background: $nav-bg;

  .col{
    height:50px;
    line-height:50px;
  }

  .nav-links{
    justify-content: flex-end;
  }

  .nav-link{
    padding:0 $gutter;
  }

  .nav-logo-wrapper{
    .nav-logo{
      width:80px;
      margin: 0 auto;
    }
  }
}

@include media-breakpoint-up(sm){
  .nav-main-wrapper{

    .col{
      height:70px;
      line-height:70px;
    }

    .nav-logo-wrapper{
      .nav-logo{
        width:150px;
        margin: 0 auto;
      }
    }
  }
}

@include media-breakpoint-up(md){

  .nav-main-wrapper .nav-main {
     line-height: 90px;
     height: 90px;
   }
   .nav-main-wrapper .nav-main .nav-main-items li {
     line-height: 90px;
     height: 90px;
   }
   .nav-main-wrapper .nav-main .nav-main-logo {
     line-height: 90px;
     height: 90px;
   }
   .nav-main-wrapper .nav-main .nav-main-logo img {
     float: none;
     display: inline-block;
   }
   .nav-main-wrapper .nav-main .nav-main-logo .nav-main-logo-symbol {
     height: 60px;
   }
   .nav-main-wrapper .nav-main .nav-main-logo .nav-main-text {
     width: 240px;
   }
}
