@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./nav-modal.scss";
//useless font @import "../assets/open-iconic-master/font/css/open-iconic-bootstrap.scss";

$primary: #563d82;
$gutter: $grid-gutter-width/2;
$border-color: #ddd;
$bg-active-tab: #fff;
$btn-border-size: 4px;
$icon-border-size: $btn-border-size;
